{% extends "base.html" %}
{% block content %}

	<div class="row topsz"> 
		<div class="col-md-2"> 
		</div>
		<div class="col-md-2"> 
			<form action="" method="post"> 
            <input formaction="/add" class="form-control" type="submit" name="add" value="New task" style="border-radius:0px;margin-top:15px;width:100%; background-color:#008f73; color:#ffffff; height:35px;">
        </form> 
		</div>
		<div class="col-md-8"> 
		</div>
	</div>	
	<div class="row" style="margin-top:5px;"> 
		<div class="col-md-2"> </div>
		<div class="col-md-8 ramka">
				{% for row in db %}
					<div class="row ramkarow">
						<div class="col-xs-1 col-sm-1 col-md-1">
							  #{{row[0]}}
  						</div>
  						<div class="col-xs-9 col-sm-9 col-md-9">
  							<div class="row">
  								<div class="col-xs-12 col-sm-12 col-md-12" >
  									<h3 style="white-space:nowrap;overflow:hidden;padding:5px;text-overflow: ellipsis;">
  										{{ row[1] }}
  									</h3>

  								</div>

  							</div>
  							<hr style="margin:3px;">
  							<div class="row " style="padding:15px; padding-top:0px;overflow:hidden;">
  								{{ row[2] }}
  							</div>	
  						</div>
  						<form action="" method="post">
  							<div class="row center">
  								<div class="col-xs-2 col-sm-1 col-md-1">
  									<button formaction="/item/{{row[0]}}" type="submit" value={{row[0]}} name="edit" style="background-image: none; background-color: transparent;border:0px;">
  										<img src="static/img/edit.png" alt="Edit task" class="img-circle" heigth="30" width="30">
  									</button>
								</div>
  								<div class="col-xs-2 col-sm-1 col-md-1">
  									<button type="submit" value={{row[0]}} name="delete" style="background-image: none; background-color: transparent;border:0px;">
  										<img src="static/img/delete.png" alt="Delete task" class="img-circle" heigth="30" width="30">
  									</button>
  								</div>
  							</div>
  						</form>
  					</div>
  				{% endfor %}
		</div>
		<div class="col-md-2"> 
		</div>
	</div>
{% endblock %}
